@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: #f7f9ef;
	--foreground: #413820;
	--card: #f7f9ef;
	--card-foreground: #413820;
	--popover: #f7f9ef;
	--popover-foreground: #413820;
	--primary: #268562;
	--primary-foreground: #ffffff;
	--secondary: #e7f6f1;
	--secondary-foreground: #146549;
	--muted: #eff2de;
	--muted-foreground: #71693d;
	--accent: #c5e9db;
	--accent-foreground: #146549;
	--destructive: #d68718;
	--destructive-foreground: #ffffff;
	--border: #dee2c7;
	--input: #dee2c7;
	--ring: #268562;
	--chart-1: #42b98c;
	--chart-2: #2f9770;
	--chart-3: #268562;
	--chart-4: #146549;
	--chart-5: #092a20;
	--sidebar: #eff2de;
	--sidebar-foreground: #413820;
	--sidebar-primary: #268562;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #c5e9db;
	--sidebar-accent-foreground: #146549;
	--sidebar-border: #dee2c7;
	--sidebar-ring: #268562;
	--font-sans: Outfit, sans-serif;
	--font-serif: Playfair Display, serif;
	--font-mono: Geist Mono, monospace;
	--radius: 0.15rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
	--shadow-sm:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-md:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 2px 4px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-lg:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 4px 6px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-xl:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 8px 10px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: #1b2b28;
	--foreground: #eff1e4;
	--card: #2c3b36;
	--card-foreground: #eff1e4;
	--popover: #2c3b36;
	--popover-foreground: #eff1e4;
	--primary: #42b98c;
	--primary-foreground: #092a20;
	--secondary: #3c4b44;
	--secondary-foreground: #d5e1db;
	--muted: #2c3b36;
	--muted-foreground: #d5d9c2;
	--accent: #2f9770;
	--accent-foreground: #eff1e4;
	--destructive: #d68718;
	--destructive-foreground: #eff1e4;
	--border: #3c4b44;
	--input: #3c4b44;
	--ring: #42b98c;
	--chart-1: #7aceaf;
	--chart-2: #5ec39e;
	--chart-3: #42b98c;
	--chart-4: #3aa980;
	--chart-5: #2f9770;
	--sidebar: #1b2b28;
	--sidebar-foreground: #eff1e4;
	--sidebar-primary: #42b98c;
	--sidebar-primary-foreground: #092a20;
	--sidebar-accent: #2f9770;
	--sidebar-accent-foreground: #eff1e4;
	--sidebar-border: #3c4b44;
	--sidebar-ring: #42b98c;
	--font-sans: Outfit, sans-serif;
	--font-serif: Playfair Display, serif;
	--font-mono: Geist Mono, monospace;
	--radius: 0.15rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
	--shadow-sm:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 1px 2px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-md:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 2px 4px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-lg:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 4px 6px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-xl:
		0 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0 8px 10px -1px
		hsl(0 0% 10.1961% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}